header {
	width: 100%;
	overflow: auto;
	background: #27A4F7;
}
#header-wrapper {
	width: 100%;
	height: 100%;
	max-width: 1000px;
	position: relative;
	margin: 0 auto;
}
#logo {
	width: 163px;
	height: 36px;
	margin: 15px 0;
	margin-left: 20px;
	background: url('../assets/logo.png');
	float: left;
}
#menuicon {
	width: 24px;
	height: 23px;
	position: absolute;
	left: 20px;
	top: 8px;
	background: url('../assets/menuicon.png');
	display: none;
	cursor: pointer;
}
nav {
	float: right;
	margin-top: 15px;
	margin-right: 20px;
}
nav span {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	margin-right: 14px;
	padding: 10px;
	border-radius: 5px;
	font-size: 12pt;
	transition: .1s background ease-in-out;
	-webkit-transition: .1s background ease-in-out;
}
nav span:last-child {
	margin-right: 0;
}
nav span:hover {
	background: #1F93E1;
}
@media only screen and (max-width: 760px) {
	header {
		text-align: center;
	}
	#logo {
		position: relative;
		margin: 15px auto;
		float: none;
	}
	nav {
		float: none;
		display: inline-block;
		margin: 0 auto;
		margin-bottom: 10px;
	}
}
@media only screen and (max-width: 550px) {
	header {
		max-height: 64px;
		overflow: hidden;
		-webkit-transition: .3s max-height ease-in-out;
		transition: .3s max-height ease-in-out;
	}
	header.full {
		max-height: 260px;
	}
	#menuicon {
		display: block;
	}
	nav {
		top: 40px;
		line-height: 1.5;
		width: 100%;
		margin: 0;
		margin-bottom: 10px;
	}
	nav span {
		display: block;
		margin: 0;
		padding: 5px 0;
		border-radius: 0; 
		width: 100%;
	}
}
@media all and (-webkit-min-device-pixel-ratio: 2) {
	/* -[Retina Styles]- */
    #logo {background: url('../assets/logo@2x.png') / 170px 34px;}
    #menuicon {background: url('../assets/menuicon@2x.png') / 30px 29px;}
}