#main {
	background: url('../assets/makersbg.png') 50% 50% / cover;
	overflow: auto;
	text-align: center;
	width: 100%;
}
#project-main {
	text-align: center;
	width: 100%;
	background: #FFD200;
	overflow: auto;
	vertical-align: middle;
}
#main button {
	background: #FFD200;
	border: none;
	border-radius: 8px;
	color: #111;
  	cursor: pointer;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 14pt;
	height: 55px;
	position: relative;
	text-transform: uppercase;
	margin-bottom: 70px;
	width: 215px;
	z-index: 2;
	-webkit-transition: .1s background ease-in-out;
	transition: .1s background ease-in-out;
}
#main button:hover {
	background: #ffe155;
}
#makersLogo {
	background: url('../assets/makerslogo.png');
	display: inline-block;
	height: 236px;
	margin-bottom: 60px;
	margin-top: 70px;
	position: relative;
	width: 266px;
	z-index: 2;
}
#info,
#projectInfo {
	background: #fff;
	width: 100%;
	position: relative;
	bottom: 1px;
}
#info-wrapper,
#projectInfo-wrapper,
footer {
	width: 100%;
	padding: 0 15px;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	margin: 0 auto;
}
#info-wrapper,
#projectInfo-wrapper {
	text-align: center;
	max-width: 530px;
}
#info h1,
#info blockquote,
#info p,
#info h3,
#projectInfo h1,
#projectInfo blockquote,
#projectInfo p,
#projectInfo h3 {
	text-align: left;
}
#info h1,
#projectInfo h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 30pt;
	margin-bottom: 40px;
	margin-top: 60px;
	color: #242424;
}
#project-main h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 36pt;
	display: inline-block;
	margin-top: 70px;
	margin-bottom: 30px;
	color: #000;
	line-height: 1.4;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0 15px;
}
#project-main h3 {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: 300;
	line-height: 1.5;
	max-width: 450px;
	margin-bottom: 70px;
	display: inline-block;
	color: #fff;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0 15px;
}
#info blockquote,
#info p {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12pt;
	line-height: 1.6;
	margin-bottom: 30px;
	color: #333;
}
#info blockquote {
	font-style: italic;
	padding-left: 30px;
	border-left: 3px solid #F9665C;	
}
#info img {
	display: inline-block;
	margin-bottom: 10px;
	border: 1px solid #979797;
}
#info h3 {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: 300;
	display: inline-block;
	color: #bbb;
	margin-bottom: 30px;
}
footer {
	max-width: 600px;
	padding-top: 20px;
	border-top: 2px solid #ddd;
	margin-bottom: 30px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: 300;
	color: #bbb;
}
.progressBar {
	height: 50px;
	border: 2px solid #979797;
	width: 100%;
	color: #909090;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12pt;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	padding-top: 16px;
	margin-bottom: 20px;
}
.progressBar div {
	height: 100%;
	float: left;
	background: #00C9CC;
	color: #fff;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	margin-top: -18px;
	margin-left: -2px;
	padding-top: 16px;
	border: 2px solid #00C9CC;
}
.update {
	width: 100%;
	text-align: left;
	margin-bottom: 30px;
}
.update date {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-style: italic;
	font-size: 15pt;
	color: #a5a5a5;	
}
.update p {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12pt;
	line-height: 1.3;
	margin-top: 10px;
	color: #333;
}
.update img {
	margin: 0 auto;
	margin-top: 10px;
	border: 1px solid #979797;
}
.file {
	margin-bottom: 30px;
	text-align: left;
	height: 50px;
	display: table;
	cursor: pointer;
}
.file h3,
.file h4 {
	margin-left: 50px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 300;
	line-height: 1.3;
	display: block;
	-webkit-transition: .1s margin-left ease-in-out;
	transition: .1s margin-left ease-in-out;
}
.file:hover h3,
.file:hover h4 {
	margin-left: 60px;
}
.file h3 {
	font-size: 15pt;
	color: #333;
	margin-bottom: 4px;
}
.file h4 {
	font-size: 10pt;
	color: #979797;
}
.file::before {
	content: '';
	width: 37px;
	height: 49px;
	position: absolute;
	background: url('../assets/file.png');
}

@media only screen and (max-width: 760px) {
	#makersMain button {
		margin-bottom: 50px;
		width: 180px;
		height: 50px;
		font-size: 12pt;
	}
	#makersLogo {
		background: url('../assets/makerslogo-small.png') 50% 50% no-repeat;
		width: 222px;
		height: 197px;
		margin-top: 50px;
		margin-bottom: 40px;
	}
	#info h1 {
		font-size: 24pt;
	}
	#projectInfo h1 {
		font-size: 22pt;
	}
	#project-main h1 {
		font-size: 24pt;
		margin-top: 50px;
	}
	#project-main h3 {
		font-size: 12pt;
		margin-bottom: 50px;
	}
	.progressBar {
		height: 40px;
		padding-top: 11px;
		font-size: 11pt;
	}
	.progressBar div {
		padding-top: 11px;
		margin-top: -13px;
	}
	.update date {
		font-size: 13pt;
	}
	.update p {
		font-size: 11pt;
	}

}
@media only screen and (max-width: 550px) {
	#info img,
	.update img {
		width: 100%;
		padding-left: 0;
	}
}
@media all and (-webkit-min-device-pixel-ratio: 2) { 
	/* -[Retina Styles]- */
	#makersLogo { background-image: url('../assets/makerslogo@2x.png'); background-size: 266px 236px }
}
@media only screen and (max-width: 760px) and (-webkit-min-device-pixel-ratio: 2) {
	#makersLogo { background-image: url('../assets/makerslogo-small@2x.png'); background-size: 222px 197px; }	
}